# Run the following command to install these dependencies:
# pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121

torch>=1.12.0
diffusers>=0.19.3
# xformers>=0.0.20
triton>=2.1.0
ninja
uvicorn[standard]
fastapi
transformers
tomesd
redis
invisible-watermark
compel
omegaconf
pydantic
safetensors
realesrgan==0.3.0